{% extends 'header.html' %}
{% block head %}
<!-- insert additional header content here -->
{% endblock %}
{% block body %} 
<!-- insert body content here-->

<div id='contentDiv' class='container-fluid'>
    <div id='leftDiv'>
        <h1>Metro Manila<br>Traffic Incidence<br>Data</h1>

        <div class='select'>
            <form method='POST'>
                <label>I live in </label>
                <select name='city'>
                    <option value='metro'>Metro Manila (All)</option>
                    <option value='caloocan'>Caloocan</option>
                    <option value='laspinas'>Las Piñas</option>
                    <option value='makati'>Makati</option>
                    <option value='malabon'>Malabon</option>
                    <option value='mandaluyong'>Mandaluyong</option>
                    <option value='manila'>Manila</option>
                    <option value='marikina'>Marikina</option>
                    <option value='muntinlupa'>Muntinlupa</option>
                    <option value='navotas'>Navotas</option>
                    <option value='paranaque'>Parañaque</option>
                    <option value='pasay'>Pasay</option>
                    <option value='pasig'>Pasig</option>
                    <option value='quezon'>Quezon City</option>
                    <option value='sanjuan'>San Juan</option>
                    <option value='taguig'>Taguig</option>
                    <option value='valenzuela'>Valenzuela</option>
                </select>

                <br>

                <label> and drive a </label>
                <select name='vehicle'>
                    <option value='car'>Car</option> <!-- SQL: CAR or CARS -->
                    <option value='bus'>Bus</option> <!-- SQL: BUS or BUSES -->
                    <option value='suv'>SUV</option> <!-- SQL: SUV -->
                    <option value='mc'>MC</option> <!-- SQL: MC -->
                    <option value='auv'>AUV</option> <!-- SQL: AUV or INNOVA -->
                    <option value='van'>Van</option> <!-- SQL: VAN -->
                    <option value='taxi'>Taxi</option> <!-- SQL: TAXI -->
                    <option value='truck'>Truck</option> <!-- SQL: TRUCK -->
                    <option value='motorcycle'>Motorcycle</option> <!-- MOTORCYCLE -->
                    <option value='delivery'>Deilvery Van</option> <!-- DELIVERYVAN -->
                    <option value='jeep'>Jeep</option> <!-- PUJ -->
                    <option value='closed'>Closed Van</option> <!-- CLOSEDVAN -->
                    <option value='wing'>Wing Van</option> <!-- WINGVAN -->
                    <option value='pickup'>Pick-Up</option> <!-- PICK-UP or PICKUP -->
                    <option value='dump'>Dump Truck</option> <!-- DUMPTRUCK -->
                    <option value='elf'>Elf Truck</option> <!-- ELFTRUCK -->
                    <option value='l300'>L300</option> <!-- L300 -->
                    <option value='uv'>UV Express</option> <!-- UVEXPRESS -->
                    <option value='trailer'>Trailer Truck</option> <!-- TRAILERTRUCK -->
                    <option value='armored'>Armored Van</option> <!-- ARMOREDVAN -->
                </select>
                <label>.</label>

                <br>
                <br>
                
                <button type='submit' class='btn btn-outline-secondary btn-large'>Submit</button>
            </form>
        </div>
    </div>

    <div id='rightDiv' class='container'>
        <div id='trafficIncidents' class='chart'>
            <h2 class='text-center'>Traffic Incidents</h2>
            {% if city %}
                <h3>{{city}}</h3>
            {% endif %}
            {% if vehicle %}
                <h3>{{vehicle}}</h3>
            {% endif %}
        </div>

        <div id='topLocations' class='chart'>
            <h2 class='text-center'>Top Locations</h2>
        </div>

        <div id='timeIncidents' class='chart'>
            <h2 class='text-center'>Time Series of Incidents</h2>
        </div>

        <div id='donutDirections' class='chart'>
            <h2 class='text-center'>Direction of Incidents</h2>
        </div>

        <div id='treemapVehicles' class='chart'>
            <h2 class='text-center'>Tweetmap of Vehicles</h2>
        </div>
    </div>
</div>

{% endblock %}