@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&display=swap');

/* GENERAL */

* {
    padding: 0;
    margin: 0;
}

html, body {
    background-color: #F5F5F5;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 36px;
}

.left {
    float: left;
}

.right {
    float: right;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #162B32;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    font-size: 16px;
    color: #F5F5F5;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

#selectCity {
    width: 2;
    height: 100%;
    background: #162B32;
    overflow: hidden;
}

/* HEADER */

#header {
    background-color: #162B32;
    width: 100%;
    height: 80px;
    margin-top: 0;
    padding: 0;
    line-height: 80px;
    position: fixed;
    z-index: 0;
}

#header h1 {
    color: #F5F5F5;
    margin-left: 20px;
}

#header .select {
    margin-right: 20px;
}

#selectCityLabel {
    color: #F5F5F5;
}

#locationPinImg {
    width: 15px;
    height: 20px;
    margin-top: -5px;
    margin-right: 10px;
}

#contentDiv {
    display: flex;
    padding-top: 80px;
}

/* LEFT DIV */

#leftDiv {
    width: 40%;
}

#leftDiv label {
    color: #7E7E7E;
    font-size: 18px;
}

/* RIGHT DIV */

#rightDiv {
    flex-grow: 1;
    margin-top: 15px;
    margin-right: 80px;
}

#rightDiv h2 {
    font-size: 24px;
}

.chart {
    background-color: #F5F5F5;
    border-radius: 8px;
    border: solid 1px #7E7E7E;
    padding-bottom: -20px;
    margin-bottom: 20px;
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    height: min-content;
}

.pygal {
    border-radius: 8px;
    background-color: #F2F2F2;
}

#map {
    width: 100%;
    height: 710px;
    border-radius: 8px;
    position: absolute;
    z-index: -1;
}